# Solve Linear equation

In [1]:
import numpy as np
>>> a = np.array([[1,2,5], [1,2,9],[2,5,4]])
>>> b = np.array([9,2,6])
>>> x = np.linalg.solve(a, b)
print(x)

[ 62.75 -22.5   -1.75]

# Text Analytics

In [1]:
from textblob import TextBlob

In [7]:
txt1="i dont ....... you and also  hate you"
txt2="i love the way you hate me"
m1=TextBlob(txt1)
m2=TextBlob(txt2)
print(m1.sentiment)
print(m2.sentiment)

Sentiment(polarity=-0.8, subjectivity=0.9)
Sentiment(polarity=-0.15000000000000002, subjectivity=0.75)

In [11]:
import pandas as pd
import os
os.chdir("C:/Users/LILENDAR/Desktop/PROJECT 1/JOKE RECOMMANDER")
trn=pd.read_csv("train.csv")
tst=pd.read_csv("test.csv")

In [16]:
tst.shape #(537880, 3)
tst.columns #'id', 'user_id', 'joke_id'
tst.isnull().sum() #clean data
tst["joke_id"].value_counts() #Length: 139

9     13738
7     13538
2     13502
4     13495
3     13494
      ...
42       58
41       54
70       54
33       48
63       41
Name: joke_id, Length: 139, dtype: int64

In [27]:

trn.shape      #(1092059, 4)
trn.columns   #'id', 'user_id', 'joke_id', 'Rating'
trn.isnull().sum() #clean data
trn["joke_id"].value_counts()   #Length: 139
X=trn.drop(["id", "Rating"],axis=1)
y=trn["Rating"]
X.head()

   user_id  joke_id
0    31030      110
1    16144      109
2    23098        6
3    14273       86
4    18419      134

In [ ]:
#no of user=41000, jokes=139
#possible combination = 56,99,000